/*элемент input - поле для ввода данных в popup, снизу нижняя граница, курсор по центру поля*/
.form__field {
  margin: 0;
  padding: 13px 0 13px 13px;
  background: inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

