/*блок button - button-edit - кнопка для редактирования профиля путешественика*/
.profile__button-edit {
  margin: 7px 0 0 0;
  padding: 0;

  width: 24px;
  height: 24px;

  background: no-repeat center url("../../../images/button-edit.svg");

  cursor: pointer;
  justify-self: start;
  align-self: center;

  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.profile__button-edit:hover {
  opacity: 0.5;
}


@media (max-width: 775px) {
  .profile__button-edit {
    margin: 36px 0 0 0;

    width: 18px;
    height: 18px;

    justify-self: center;
    align-self: start;
  }
}
