/*блок li списка описательных параметров места - содержит блок img с незакрашенным сердечком, которое закрашивается при установке лайка*/
.element__caption-like {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 22px;
  grid-template-rows: 1fr;
  gap: 0;
  justify-content: end; /*по горизонтали: прижать контент к правому краю грид контейнера*/
  align-content: end; /*по вертикали: прижать контент к нижнему краю грид контейнера*/
}
