/*блок li - содержит аватар путешественника - блок img*/
.profile-list__avatar {
  margin: 0;
  padding: 0;

  background: inherit;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  justify-content: start;
  align-content: center;
}
