/*блок img - содержит изображение путешественника в круглой рамке*/
.profile__image-overley {
  opacity: 0;
  position: absolute;
  top: 48px;
  left: 48px;
  margin: 0;
  padding: 0;
  z-index: 0;
  transition: opacity 0.5s ease-in-out;
}
