/*блок ul - список параметров, описывающих путешественника*/
.profile-list {
  margin: 0;
  padding: 0;

  list-style: none; /*убрать маркеры*/

  font-family: inherit;
  color: inherit;

  background: inherit;

  max-width: inherit;
  width: 100%;

  display: grid;
  grid-template-columns: 120px 3fr 1fr;
  grid-template-rows: auto;
  gap: 0 30px;
  justify-content: start;
  align-content: center;
}

@media (max-width: 775px) {
  .profile-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0 30px;
    justify-content: center;
    align-content: center;
  }
}
