.popup__caption {
  margin: 10px 0 0 0;
  padding: 0;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-self: start;
  align-self: center;
}
