/*блок h2 - заголовок с названием места*/
.element__title {
  margin: 0;
  padding: 0;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden;   
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  justify-self: start; 
  align-self: center; 
}
