.main {
  grid-area: main;

  margin: 0;
  padding: 0;

  background: #000000;

  max-width: inherit;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
  column-gap: 0;
  grid-template-areas:
  "profile"
  "grid-of-cards";
}
