/*секция с профилем путешественника*/
.profile {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: #FFFFFF;
  background: inherit;
  max-width: inherit;
  width: 100%;
  display: grid;
  grid-template-columns: 120px 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 30px;
  justify-content: start;
  align-content: center;
}

@media (max-width: 775px) {
  .profile {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 0;
    justify-content: center;
  }
}
