/*блок h1 - содержит заголовок с ФИО путешественника, необходимо поставить защиту от переполнения и запретить перенос слов*/
.profile__title {
  margin: 0 10px 0 0;
  padding: 0;

  color: inherit;

  /*Настройки отображения текста*/
  font-family: inherit;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;

  white-space: nowrap; /*запретить перенос слов в блоке*/
  text-overflow: ellipsis; /*текст обрезается и к концу строки добавляется многоточие*/
  overflow: hidden; /*отображается только область внутри элемента, остальное будет скрыто*/


  justify-self: start;
  align-self: center;
}

@media (max-width: 775px) {
  .profile__title {
    margin: 26px 0 0 0;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;

    justify-self: center;
    align-self: center;
  }
}

