/*блок p - содержит информацию о том чем занимается путешественник*/
.profile__text {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-self: start;
  align-self: start;
}

@media (max-width: 775px) {
  .profile__text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    justify-self: center;
  }
}
