/*блок form - содержит все элементы формы в один столбец*/
.edit-form {
  margin: 0 auto;
  padding: 36px;

  width: 430px;
  height: 330px;

  background: #FFFFFF;
  border-radius: 8px;

  position: relative;

  color: inherit;
  font-family: inherit;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 50px;
  gap: 48px 0;
  justify-content: center;
  align-content: end;
}

@media (max-width: 470px) {
  .edit-form {
    width: 430px;
    height: 330px;
  }
}
