/*блок h1 - содержит заголовок с ФИО путешественника, необходимо поставить защиту от переполнения и запретить перенос слов*/
.profile__title {
  margin: 0 10px 0 0;
  padding: 0;
  width: 98%;
  color: inherit;
  font-family: inherit;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-self: start;
  align-self: center;
}

@media (max-width: 775px) {
  .profile__title {
    margin-top: 26px;
    margin-right: 0;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    justify-self: center;
  }
}

