/*блок ul - список описательных параметров места*/
.element__caption {
  /*margin: 30px 20px;*/
  margin: 24px 20px;
  padding: 0;
  background: #FFFFFF; /*взять цвет фона у родительского блока*/
  max-width: 246px;
  font-family: 'Inter', Arial, sans-serif;
  color:#000000;
  /*задать параметры грид контейнера*/
  /*2 - столбца, 1 строка, размеры точно указаны и не меняются ни при каких обстоятелствах*/
  display: grid;
  grid-template-columns: 200px 42px;
  grid-template-rows: 1fr;
  gap: 0;
  justify-content: space-between; /*по горизонтали: прижать левый столбец к левому краю, а правый столбец - к правому краю*/
  align-content: end; /*по вертикали: прижать строку к нижнему краю грид контейнера*/
}
