.grid-of-cards {
  grid-area: grid-of-cards;

  margin: 0;
  padding: 0;

  background: #000000;

  max-width: inherit;
  width: 100%;

  list-style: none; /*убрать маркеры*/

  display: grid;
  grid-template-columns: repeat(auto-fit, mainmax(282px, 1fr));
  grid-template-rows: repeat(auto-fit, mainmax(361px, 1fr));
  row-gap: 0;
  column-gap: 0;
}
