/*блок button-add*/
.profile__button-add {
  margin: 0;
  padding: 0;

  width: 150px;
  height: 50px;

  background: no-repeat center url("../../../images/button-add.svg");

  border: 2px solid #FFFFFF;
  border-radius: 2px;

  cursor: pointer;
  justify-self: end;
  align-self: center;

  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.profile__button-add:hover {
  opacity: 0.6;
}


@media (max-width: 775px) {
  .profile__button-add {
    margin: 36px 0 0 0;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
}




