/*элемент h2 - заголовок формы*/
.form__title {
  margin: 0 0 50px 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  justify-self: start;
  align-self: start;
}

@media (max-width: 470px) {
  .form__title {
    font-size: 18px;
    line-height: 22px;
  }
}

