/*блок form - содержит все элементы формы в один столбец*/
.form {
  margin: 36px 36px;
  padding: 0;
  background: #FFFFFF;
  width: auto;
  height: auto;
  border-radius: 8px;
  color: inherit;
  font-family: inherit;
  display: grid;
  grid-template-columns: auto;
  /*grid-template-rows:auto auto auto 50px;*/
  justify-content: center;
  align-content: start;
}

@media (max-width: 470px) {
  .form {
    margin: 25px 22px;
    grid-template-rows: auto auto auto 46px;
    /*gap: 45px 0;*/
  }
}

